zsh/private/*.zsh
tmuxinator/private/*.yml

vim/autoload/*.vim
vim/colors/*.vim
vim/plugged
vim/.netrwhist

vscode/workspaces/private/*.code-workspace

gnupg/*.gpg
gnupg/*.kbx
gnupg/*.kbx~
gnupg/**/*.key
gnupg/**/*.rev

hooks/~

~/**

**/gitconfig.local

Brewfile.lock.json
