sublime/**/Package Control.last-run
sublime/**/Package Control.ca-list
sublime/**/Package Control.ca-bundle
sublime/**/Package Control.system-ca-bundle
sublime/**/Package Control.merged-ca-bundle
sublime/**/Package Control.user-ca-bundle
sublime/**/Package Control.cache/
sublime/**/Package Control.ca-certs/

sublime/**/Color Highlighter/

*.sublime-workspace

home/.config/gh
home/.config/gh-update
home/.config/configstore
home/.config/robomongo

home/.config/beets/state.pickle

home/.zsh/private/*.zsh
