[user]
  name = Chris LoPresto
  email = chrislopresto@gmail.com

[credential]
  helper = osxkeychain

[color]
  ui = true

[core]
	editor = subl -n -w
  excludesfile = ~/.gitignore

[hub]
  protocol = https

[mergetool]
  keepBackup = true

[push]
  default = simple

[filter "media"]
  required = true
	clean = git media clean %f
	smudge = git media smudge %f
