packages: [
  "atom-ember-author-kit"
  "atom-emblem"
  "atom-handlebars"
  "atom-sort-sass"
  "cobalt2-syntax"
  "colorful-json"
  "count-word"
  "electron-light-syntax"
  "electron-syntax"
  "ember-snippets"
  "emmet"
  "file-icons"
  "highlight-selected"
  "language-ember-htmlbars"
  "language-nginx"
  "language-slim"
  "linter"
  "linter-eslint"
  "linter-ruby"
  "linter-sass-lint"
  "linter-slim"
  "maximize-active-pane"
  "move-panes"
  "native-ui"
  "package-sync"
  "pigments"
  "pretty-json"
  "project-manager"
  "sort-lines"
  "svg-preview"
  "travis-ci-status"
]
