dotfiles:
  title: "dotfiles"
  paths: [
    "/Users/chrislopresto/.homesick/repos/dotfiles"
  ]
editor:
  title: "editor"
  paths: [
    "/Users/chrislopresto/p/yappbox/projects/editor"
  ]
account:
  title: "account"
  paths: [
    "/Users/chrislopresto/p/yappbox/projects/account"
  ]
dashboard:
  title: "dashboard"
  paths: [
    "/Users/chrislopresto/p/yappbox/projects/dashboard"
  ]
yappemberkit:
  title: "yapp-ember-kit"
  paths: [
    "/Users/chrislopresto/p/yappbox/projects/yapp-ember-kit"
  ]
yappserver:
  title: "yapp-server"
  paths: [
    "/Users/chrislopresto/p/yappbox/projects/yapp-server"
  ]
embermodaldialog:
  title: "ember-modal-dialog"
  paths: [
    "/Users/chrislopresto/p/yapplabs/ember-modal-dialog"
  ]
embertether:
  title: "ember-tether"
  paths: [
    "/Users/chrislopresto/p/yapplabs/ember-tether"
  ]
emberwormhole:
  title: "ember-wormhole"
  paths: [
    "/Users/chrislopresto/p/yapplabs/ember-wormhole"
  ]
yappauth:
  title: "yapp-auth"
  paths: [
    "/Users/chrislopresto/p/yappbox/projects/yapp-auth"
  ]
yappconfig:
  title: "yapp-config"
  paths: [
    "/Users/chrislopresto/p/yappbox/projects/yapp-config"
  ]
yappmobile:
  title: "yapp-mobile"
  paths: [
    "/Users/chrislopresto/p/yappbox/projects/yapp-mobile"
  ]
yappios:
  title: "yapp-ios"
  paths: [
    "/Users/chrislopresto/p/yappbox/projects/yapp-ios"
  ]
yappandroid:
  title: "yapp-android"
  paths: [
    "/Users/chrislopresto/p/yappbox/projects/yapp-android"
  ]
yapp:
  title: "yapp"
  paths: [
    "/Users/chrislopresto/p/yappbox/projects/yapp"
    "/Users/chrislopresto/p/yappbox/projects/yapp/node_modules/ember-composable-helpers"
  ]
yapppreview:
  title: "Yapp Preview"
  paths: [
    "/Users/chrislopresto/p/yappbox/projects/yapp-preview"
  ]
yappiconsfont:
  title: "Yapp Icons Font - yappicons"
  paths: [
    "/Users/chrislopresto/p/yappbox/projects/yapp-icons-font"
  ]
yappsharedassets:
  title: "Yapp Shared Assets"
  paths: [
    "/Users/chrislopresto/p/yappbox/projects/yapp-shared-assets"
  ]
yappemberdeploy:
  title: "Yapp Ember Deploy - old"
  paths: [
    "/Users/chrislopresto/p/yappbox/projects/ember-cli-deploy-slack"
  ]
yappcerts:
  title: "Yapp Certs"
  paths: [
    "/Users/chrislopresto/p/yappbox/projects/yapp-certs"
  ]
yappdeploys:
  title: "Yapp Deploys"
  paths: [
    "/Users/chrislopresto/p/yappbox/projects/yapp-deploys"
  ]
yappannie:
  title: "Yapp Annie Mining"
  paths: [
    "/Users/chrislopresto/p/yappbox/projects/annie-mining"
  ]
chrislopresto:
  title: "chrislopresto.com"
  paths: [
    "/Users/chrislopresto/p/chrislopresto/chrislopresto-rails"
    "/Users/chrislopresto/p/chrislopresto/living-style-guide-driven-development"
    "/Users/chrislopresto/p/chrislopresto/bateman-ember"
    "/Users/chrislopresto/p/chrislopresto/chrislopresto-ember-islands"
  ]
emberrevealjs:
  title: "Ember Reveal.js"
  paths: [
    "/Users/chrislopresto/p/chrislopresto/ember-reveal-js"
  ]
emberfreestyle:
  title: "Ember Freestyle"
  paths: [
    "/Users/chrislopresto/p/chrislopresto/ember-freestyle"
  ]
gavel:
  title: "Collectrium Gavel"
  paths: [
    "/Users/chrislopresto/p/collectrium/gavel"
    "/Users/chrislopresto/p/collectrium/gavel/bower_components/tether"
  ]
monegraphexplorer:
  title: "Monegraph Explorer"
  paths: [
    "/Users/chrislopresto/p/monegraph/monegraph-explorer"
  ]
monegraphcommon:
  title: "Monegraph Common"
  paths: [
    "/Users/chrislopresto/p/monegraph/monegraph-common"
  ]
emberremarkablefork:
  title: "Ember Remarkable Fork"
  paths: [
    "/Users/chrislopresto/p/chrislopresto/ember-remarkable"
  ]
jj:
  title: "Jimmie Johnson - jj"
  paths: [
    "/Users/chrislopresto/p/symondsandson/jimmiejohnson.com"
  ]
notes:
  title: "Notes"
  paths: [
    "/Users/chrislopresto/Dropbox/Notes"
  ]
