"*":
  "atom-material-ui":
    colors:
      abaseColor: "#2196f3"
      accentColor: "#00fdff"
      genAccent: true
      paintCursor: true
      predefinedColor: "Blue"
    fonts:
      fontSize: 15
    tabs:
      compactTabs: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
  core:
    audioBeep: false
    closeEmptyWindows: false
    destroyEmptyPanes: false
    disabledPackages: [
      "jscs-fixer"
      "linter-jscs"
      "atom-ternjs"
      "pane-layout-plus"
      "toggle-gutter"
      "linter-ruby"
      "linter-slim"
      "linter-sass-lint"
      "linter-rubocop"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      "dist"
      "bower_components"
      "node_modules"
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".codekit-cache"
      "tmp"
      "log"
      "*.sublime-project"
      "*.sublime-workspace"
      "**/.sass-cache/**"
      "source_maps"
      ".vscode"
      ".sass-cache"
      "_site"
      ".bundle"
    ]
    telemetryConsent: "no"
    themes: [
      "dash-ui"
      "dash-syntax"
    ]
    titleBar: "custom"
    useReactEditor: true
  "dash-ui": {}
  "duotone-light-syntax":
    color:
      duo: "#6f7ed5"
      uno: "#d775bc"
  editor:
    autoIndent: true
    fontFamily: "Hasklig"
    invisibles: {}
    lineHeight: 1.2
    preferredLineLength: 140
    scrollPastEnd: true
    showIndentGuide: true
    showLineNumbers: false
  emmet: {}
  "exception-reporting":
    userId: "12898d24-f025-e415-2151-a3d70939fe60"
  "fuzzy-finder": {}
  "git-diff": {}
  github: {}
  linter: {}
  "linter-eslint":
    disableFSCache: true
    eslintrcPath: '''
      /Users/chrislopresto/src/.eslintrc.js
      
    '''
    globalNodePath: "/opt/nodes/6.9.2"
    useGlobalEslint: true
  "linter-jscs":
    esnext: true
    onlyConfig: true
    preset: "node-style-guide"
  "linter-jshint":
    executablePath: "/usr/local/bin/jshint"
  "linter-rubocop":
    command: "/Users/chrislopresto/src/better-core/retail_core/bin/rubocop"
  "linter-sass-lint":
    globalNodePath: "/opt/nodes/6.9.4"
    noConfigDisable: true
  "linter-scss-lint":
    executablePath: "/Users/chrislopresto/.rbenv/shims/scss-lint"
  "linter-ui-default":
    panelHeight: 152
    showPanel: true
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
  metrics:
    userId: "9a373aacc08946c8b7940a4b381e936d87675c70"
  "nord-atom-syntax":
    accessibility: {}
  "nord-atom-ui":
    tabSizing: false
  "one-dark-ui": {}
  "one-light-ui": {}
  pigments:
    sassShadeAndTintImplementation: "bourbon"
  "platformio-ide-terminal":
    style:
      theme: "one-dark"
  "prettier-atom":
    prettierOptions:
      singleQuote: true
    useEslint: true
  "release-notes":
    viewedVersion: "0.95.0"
  "status-bar": {}
  tabs:
    enableVcsColoring: true
  "toggle-gutter": {}
  "travis-ci-status": {}
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".core.html.htmlbars.internal.text":
  editor:
    preferredLineLength: 120
".css.source":
  editor:
    autoIndent: true
    preferredLineLength: 120
".curley.html.htmlbars.internal.text":
  editor:
    preferredLineLength: 120
".diff.source":
  editor:
    preferredLineLength: 120
".gfm.source":
  whitespace:
    removeTrailingWhitespace: false
".html.htmlbars.inline.internal.text":
  editor:
    preferredLineLength: 120
".html.htmlbars.internal.strings.text":
  editor:
    preferredLineLength: 120
".html.htmlbars.internal.subexp.text":
  editor:
    preferredLineLength: 120
".html.htmlbars.internal.text":
  editor:
    preferredLineLength: 120
".html.htmlbars.text":
  editor:
    autoIndent: false
    preferredLineLength: 120
".ini.source":
  editor:
    preferredLineLength: 140
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 120
".js.regexp.source":
  editor:
    preferredLineLength: 120
    showIndentGuide: true
".js.source":
  editor:
    autoIndent: true
    preferredLineLength: 120
    showInvisibles: false
