packages: [
  "an-old-hope-light-syntax"
  "apex-syntax"
  "apex-ui"
  "ariake-dark-syntax"
  "atom-beautify"
  "atom-focus-mode"
  "atom-ide-ui"
  "atom-material-syntax"
  "atom-material-syntax-dark"
  "atom-material-syntax-light"
  "atom-material-ui"
  "atom-typescript"
  "autoclose-html"
  "busy-signal"
  "chester-atom-syntax"
  "dash-syntax"
  "dash-ui"
  "dracula-syntax"
  "editorconfig"
  "emmet"
  "gloom"
  "hey-pane"
  "htmlbars-beautify"
  "ide-typescript"
  "intentions"
  "language-docker"
  "language-ember-htmlbars"
  "language-javascript-jsx"
  "linter"
  "linter-docker"
  "linter-eslint"
  "linter-rubocop"
  "linter-sass-lint"
  "linter-scss-lint"
  "linter-stylelint"
  "linter-ui-default"
  "loved-syntax"
  "northem-light-atom-syntax"
  "northem-light-atom-ui"
  "package-sync"
  "php-twig"
  "pigments"
  "prettier-atom"
  "pristine-ui"
  "project-manager"
  "pure-syntax"
  "rails-transporter"
  "ramda-syntax"
  "sort-lines"
  "textmate-funky_dashboard-syntax"
]
