[
  {
    title: "dotfiles"
    paths: [
      "/Users/chrislopresto/.ellipsis/packages/dotfiles"
    ]
  }
  {
    title: "Notes"
    paths: [
      "/Users/chrislopresto/Dropbox (Personal)/Notes"
    ]
  }
  {
    title: "Ember Freestyle"
    paths: [
      "/Users/chrislopresto/p/chrislopresto/ember-freestyle"
    ]
  }
]
